<div class="hexosearch">
    <style >
        input {
            outline: none;
        }
        input[type=search] {
            -webkit-appearance: textfield;
            font-family: inherit;
            font-size: 100%;
        }
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button {
            display: none;
        }
        input[type=search] {
            border: solid 1px #ccc;
            padding: 9px 9px 9px 9px;
            width: 200px;
            -webkit-border-radius: 10em;
            -moz-border-radius: 10em;
            border-radius: 10em;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }
        input[type=search]:focus {
            width: 130px;
            background-color: #fff;
            border-color: #6dcff6;
            margin-left: -11px;
            margin-right: 11;
            width: 330px;
            -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
            -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
            box-shadow: 0 0 5px rgba(109, 207, 246, .5);
        }
        input:-moz-placeholder {
            color: #999;
        }
        input::-webkit-input-placeholder {
            color: #999;
        }
    </style>
</div>
<div style="margin-top: 123px;text-align:center">
        <form>
            <input id = "search" name= "search" type="search" placeholder="积极开发中" autocomplete="off" style="text-align:center" onfocus="this.setAttribute('placeholder', ''); " onblur="if (this.value == '') this.setAttribute('placeholder', '下次一定！');" onkeyup="button_search_onkeypress(),this.value=this.value.replace(/(^\s*)/g,'')">
            <input id = "search-btn" style="display: none;">
        </form>
</div>
 
<!-- 下面是归档代码 直接套过来 -->
<div id="single" class="page">
    <div id="top">
        <a class="icon-left image-icon" href="javascript:history.back()"></a>
    </div>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                    <div class="timeline">
                      <h2 style="display:none" class="timeline-title" id="search_count"></h2>
                      <% var posts = site.posts.sort('date', 'desc'); %>
                      <% for(let i = 0, year = -1; i < posts.data.length; ++i) { %>
                        <%
                          const psg = posts.data[i];
                          if(psg.date.year() !== year) {
                            year = psg.date.year();
                        %>
                        <% } %>
                        <% var text = "" %>
                        <% for(let i = 0; i < psg.tags.data.length; ++i) { %>
                            <%
                              text += "|";
                              text += psg.tags.data[i].name;
                            %>
                            <% } %>
                        <div style="display:none" class="timeline-item" id=<%= psg.title + text %> >
                          <time><%- psg.date.format("YYYY-MM-DD") %></time>
                          <a target="_self" href="<%- url_for(psg.path) %>"><%= psg.title %></a>
                        </div>
                      <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>